﻿/* License Selector */
 .license-content{
padding: 14px 14px 5px;
margin:-10px 0 0 !important;
position:relative;

/*overflow:hidden;*/
}
.license-content h5{
font-size: 40px;
font-weight:normal;
color:#000;
padding:0 0 7px 0;
margin:0 0 7px 0;
border-bottom: 1px dotted #333;
text-transform:uppercase;
text-align:center;
}
.license-content h5 b{
color:#894264;
}
.license-content h5 span{
color:#428e9e;
font-weight:bold;
}
.license-content h5  img{
float:right;
margin:0 0 10px 850px;
}
.license-content h6{
color:#000;
font-size:27px;
font-weight:normal;
text-align:center;
}
.license-categories{
 overflow:hidden;
 padding: 8px 0 15px;
}
.license-category{
float: left;
width:226px;
text-align:center;
margin-right:13px;
color:#fff;
font-size:12px;
min-height:300px;
position:relative;
border-radius:10px;
}
.license-category span{
padding:12px 15px 25px;
display: inline-block;
text-align:left;
width:87%;
}
.license-category *{
font-size:12px;
line-height:normal;
color: #fff;
margin:0;
}
.license-category img{
padding:12px 0;
}
.expert-users img{
float:right;
padding-right:12px;
}
.license-category .cat-title{
  padding:6px 15px;
  display:block;
  font-size:18px;
}
.expert-users .cat-title{
  background-color:transparent;
  line-height:85px;
  border-radius:10px 10px 0 0;
  margin-bottom:-13px;
}
.license-categories a:hover{
text-decoration:none;
}
.business-type{
/* Old browsers */
background: -moz-linear-gradient(127deg,  #6e3150 50%, #884264 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#6e3150), color-stop(50%,#884264)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(143deg,  #6e3150 52%,#884264 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(127deg,  #6e3150 50%,#884264 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(127deg,  #6e3150 50%,#884264 50%); /* IE10+ */
background: linear-gradient(127deg,  #6e3150 50%,#884264 50%); /* W3C */
-pie-background: linear-gradient(143deg,  #884264 50%,#6e3150 50%); /* W3C */

}
.business-type:hover{
 background-color:#d54c4c;
}
.vendor-program{
background: -moz-linear-gradient(127deg,  #D9A329 50%, #E5B821 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#D9A329), color-stop(50%,#E5B821)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(143deg,  #D9A329 50%,#E5B821 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(127deg,  #D9A329 50%,#E5B821 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(127deg,  #D9A329 50%,#E5B821 50%); /* IE10+ */
background: linear-gradient(127deg,  #D9A329 50%,#E5B821 50%); /* W3C */
-pie-background: linear-gradient(143deg,  #E5B821 50%,#D9A329 50%); /* W3C */
}
.vendor-program:hover{
background-color:#4f9fb0;
}
.software-product{
background: -moz-linear-gradient(127deg,  #88AB4D 50%, #A5BB59 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#88AB4D), color-stop(50%,#A5BB59)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(143deg,  #88AB4D 50%,#A5BB59 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(127deg,  #88AB4D 50%,#A5BB59 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(127deg,  #88AB4D 50%,#A5BB59 50%); /* IE10+ */
background: linear-gradient(127deg,  #88AB4D 50%,#A5BB59 50%); /* W3C */
-pie-background: linear-gradient(143deg,  #A5BB59 50%,#88AB4D 50%); /* W3C */
}
.software-product:hover{
background-color:#62ac78;
}
.cat-software-product.hide{
display:none;
}
.expert-users{
background-color:#747d8a;
color:#fff;
margin:0;
min-height:170px;
background: -moz-linear-gradient(143deg,  #a0abb1 50%, #bcc5cc 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#a0abb1), color-stop(50%,#bcc5cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(125deg,  #a0abb1 50%,#bcc5cc 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(143deg,  #a0abb1 50%,#bcc5cc 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(143deg,  #a0abb1 50%,#bcc5cc 50%); /* IE10+ */
background: linear-gradient(143deg,  #a0abb1 50%,#bcc5cc 50%); /* W3C */
-pie-background: linear-gradient(125deg,  #bcc5cc 50%,#a0abb1 50%); /* W3C */
}
.expert-users:hover{
background-color:#68717d;
}
.license-category a{
display:block;
color:#fff;
font-size:11px;
padding: 0 0 10px;
background: url(../common/right_gray_arrow_btn.gif) no-repeat 100% 0;
}
.expert-users a{
color:#fff;
background:none;
}
/* Logo */
#LogoSlider .slide{
text-align: center;
min-height:50px;
padding:17px 0 0 0px;
width:890px;
}
#LogoSlider .slide div{
   float:left;
   padding:5px 0;
   width:192px;

}
#LogoSlider .slide .centered-logo{
margin: 0 auto;
padding: 0;
width: 770px;
float:none;
}
#LogoSlider .slide img{
  padding:0 25px;
}
#LogoSlider {
margin:15px 0;
}
#LogoSlider .slide-container{
min-height:70px;
margin:0 23px;
background:#F5F5F5;
border:1px solid #F5F5F5;
}
#LogoSlider .display-control{
overflow: hidden;
}
#LogoSlider .tab-left {
background: url(../sprites/scroll-arrows.png) no-repeat 100% 0;
background-position: 0 0;
height: 72px;
width: 72px;
}
#LogoSlider .tab-left.control-off {
background-position: 0 -71px;
}
#LogoSlider .tab-right {
background: url(../sprites/scroll-arrows.png) no-repeat 100% 0;
background-position: -80px 0;
height: 72px;
width: 72px;
}
#LogoSlider .tab-right.control-off {
background-position: -80px -73px;
}
/* License Selector End*/
/***license 2 page css***/
.license-content.padding-lr0 {
padding-left:0;
padding-right:0;
}

/*** License tab css start***/
.license-content .license-tab {
padding:0 15px;
height:113px; 
color:#fff;
font-size:14px;
font-weight:bold;
}
.license-tab .greytab, .license-tab .tab {
width:220px;
margin-right:10px;
float:left;
height:100px;
position:relative;
border-radius: 10px 10px 0 0
}
.license-tab .greytab {
width:242px;
}
.greytab a.float-right {
margin-right:-15px;
}
.license-tab .tab.business {
background:#9E5779;
left:0; 
}
.license-tab .tab.vender {
background:#F8CA2F;
position:absolute;
left:230px;
}
.license-tab .tab.software {
background:#B8CE6A;
position:absolute;
left:460px;
}
.license-tab .tab .tab-detail {
border-radius: 10px 10px 0 0;
height:54px;
width:220px;
position:relative;
}
.license-tab .tab.vender .tab-detail {
 /* Old browsers */
background: -moz-linear-gradient(-45deg,  #D9A329 50%, #E5B821 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#D9A329), color-stop(50%,#E5B821)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #D9A329 50%,#E5B821 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #D9A329 50%,#E5B821 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #D9A329 50%,#E5B821 50%); /* IE10+ */
background: linear-gradient(167deg,  #D9A329 50%,#E5B821 50%); /* W3C */
-pie-background: linear-gradient(104deg,  #E5B821 50%,#D9A329 50%); /* W3C */
}
.license-tab .tab.software .tab-detail {
 /* Old browsers */
background: -moz-linear-gradient(-45deg,  #88AB4D 50%, #A5BB59 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#88AB4D), color-stop(50%,#A5BB59)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #88AB4D 50%,#A5BB59 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #88AB4D 50%,#A5BB59 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #88AB4D 50%,#A5BB59 50%); /* IE10+ */
background: linear-gradient(167deg,  #88AB4D 50%,#A5BB59 50%); /* W3C */
-pie-background: linear-gradient(104deg,  #A5BB59 50%,#88AB4D 50%); /* W3C */
}
.license-tab .tab.business .tab-detail {
 /* Old browsers */
background: -moz-linear-gradient(-45deg,  #6e3150 50%, #884264 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#6e3150), color-stop(50%,#884264)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #6e3150 50%,#884264 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #6e3150 50%,#884264 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #6e3150 50%,#884264 50%); /* IE10+ */
background: linear-gradient(167deg,  #6e3150 50%,#884264 50%); /* W3C */
-pie-background: linear-gradient(104deg,  #884264 50%,#6e3150 50%); /* W3C */
}
.license-tab .tab-number {
width:45px;
float:left;
height:54px;
text-align:center;
line-height:54px;
}
.license-tab .tab.business .tab-number {
/*background:#AA2020 changes done by Roshan*/
}
.license-tab .tab.vender .tab-number {
/*background:#307584 changes done by Roshan*/
}
.license-tab .tab.software .tab-number {
/*background:#387049 changes done by Roshan*/
}

.license-tab .action-item {
color:#491931;
padding-left:43px;
}
.license-tab .tab-name {
width:100px;
height:54px;
float:left;
font-size:16px;
}
.tab-detail .tab-img span, .license-tab .tab-name span {
height:54px;
display:table-cell;
vertical-align:middle;
}
.tab-detail .tab-img {
float:right;
width:45px;
margin-right:10px;   
}
.tab-detail .tab-img img {
max-width:45px;
}
.license-tab .tab-name .tab-label {
width:80px;
float:left;
padding-top:5px;
}
.license-tab .tab.business .tab-name {
/*background:#C43434 done by Roshan*/
}
.license-tab .tab.vender .tab-name{
/*background:#428E9E done by Roshan*/
}
.license-tab .tab.software .tab-name {
/*background:#518B62 done by Roshan*/
}
.license-tab .tab.active {
height:113px;
}
.license-tab .greybox {
height:40px;
position:absolute;
bottom:0;  
padding:5px;
width:210px;
font-size:25px; 
}
.license-tab .greybox .product-number {
color:#C11717;
}
.license-tab .greybox .product-txt {
color:#2A2A2A;
font-weight:normal;
}
.license-tab .greybox .product-notation {
color: #A1A1A1;
font-size:14px;
display:block; 
font-weight:normal;  
}
/*** License tab css end ***/

/*** License tab container css start ***/
.license-content .tab-container {
position:relative;
border-right:5px solid #fff;
border-left:5px solid #fff;
}
.license-content .tab-container .business-container {
border:5px solid #9E5779;
padding:5px;
min-height:475px;
}
.license-content .tab-container .vender-container {
border:5px solid #F8CA2F;
padding:5px;
min-height:475px;
}
.license-content .tab-container .software-container {
border:5px solid #B8CE6A;
padding:5px;
min-height:350px;
}
.license-content .tab-background{
background:#f0f0f0;
border:1px solid #e0e2de;
width:845px;
margin: 36px auto;
padding: 0 0 25px;
}
.license-content .all-container
{
position: relative;
}
.license-content .software-background{
   background:#f0f0f0;
   border:1px solid #e0e2de;
   position:absolute;
   width:698px;
   height:147px;
   right:45px;
   top:34px;
}
/** tab container carousel css ***/
.license-content .tab-container .content-slider {
width:900px;
margin:0 auto;
}
.license-content .tab-container .content-slider .slide{
text-align: center;
height:135px;
width:710px;
}
.license-content .tab-container .content-slider .slide .slider-list{
float:left;
width:123px;
height:134px;
margin-left:23px;
position:relative;
}
.license-content .tab-container .content-slider .slide .slider-list .slider-list-box,
.all-products.slider-list .slider-list-box {
width:123px;
height:122px;
text-align:center;
border-radius:10px;
position:relative;
background: -moz-linear-gradient(136deg,  #cbced0 50%, #d7dcdf 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#cbced0), color-stop(50%,#d7dcdf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(136deg,  #cbced0 50%,#d7dcdf 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(136deg,  #cbced0 50%,#d7dcdf 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(136deg,  #cbced0 50%,#d7dcdf 50%); /* IE10+ */
background: linear-gradient(136deg,  #cbced0 50%,#d7dcdf 50%); /* W3C */
-pie-background: linear-gradient(134deg,  #d7dcdf 50%,#cbced0 50%); /* W3C */
}
.all-products.slider-list .slider-list-box {
background: -moz-linear-gradient(136deg,  #a5bb59 50%, #b8ce6a 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#a5bb59), color-stop(50%,#b8ce6a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(136deg,  #a5bb59 50%,#b8ce6a 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(136deg,  #a5bb59 50%,#b8ce6a 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(136deg,  #a5bb59 50%,#b8ce6a 50%); /* IE10+ */
background: linear-gradient(136deg,  #a5bb59 50%,#b8ce6a 50%); /* W3C */
-pie-background: linear-gradient(134deg,  #b8ce6a 50%,#a5bb59 50%); /* W3C */
}
.license-content .tab-container .content-slider .slide .slider-list .slider-list-box .slider-list-label {
color:#fff;
font-size:14px;
font-weight:bold;
}
.license-content .tab-container .content-slider .slide .slider-list:first-child{
border-left: none;
margin-left:0px;
}
.license-content .tab-container .content-slider .slide-container{
margin:0 72px;
height:135px;
width:710px;
overflow:hidden;
}
.license-content .tab-container .content-slider .display-control{
overflow: hidden;
}
.license-content .tab-container .content-slider .slider-control {
top:22px;
}
.license-content .tab-container .licensetype-container .content-slider .slider-control {
top:59px;
}
.license-content .tab-container .all-container .content-slider .slider-control.left-control{
left:0;
}
.license-content .tab-container .content-slider .slider-control.left-control{
left:-28px;
}
.license-content .tab-container .content-slider .slider-control.right-control{
right:25px;
}
.license-content .tab-container .all-container .content-slider .slider-control.right-control{
right:0;
}
.license-content .tab-container .content-slider .tab-left {
background: url(../sprites/scroll-arrows.png) no-repeat 100% 0;
background-position: 0 0;
height: 72px;
width: 72px;
}
.license-content .tab-container .content-slider .tab-left.control-off {
background-position: 0 -71px;
}
.license-content .tab-container .content-slider .tab-right {
background: url(../sprites/scroll-arrows.png) no-repeat 100% 0;
background-position: -80px 0;
height: 72px;
width: 72px;
}
.license-content .tab-container .content-slider .tab-right.control-off {
background-position: -80px -71px;
}
.license-content .tab-container .content-slider .arrow-down {
border-top:13px solid #3B3B3B;
display:none;
}
.license-content .arrow-down {
width:1px;
height:0;
border-left:13px solid transparent;
border-right:13px solid transparent;	
position:relative;
margin:0 auto;	
}
.license-content .tab-container .content-slider .slide .slider-list.active .pie_first-child + .arrow-down, 
.license-content .tab-container .slider-list.all-products.active .pie_first-child + .arrow-down {
margin-top:-1px;
}
.license-content .tab-container .vender-container .content-slider, 
.license-content .tab-container .business-container .content-slider,
.license-content .tab-container .software-container .content-slider  {
margin-top:20px;
}
.license-content .tab-container .content-slider .slide .slider-list.active .slider-list-box, 
.all-products.slider-list.active .slider-list-box {
position:relative;
background: -moz-linear-gradient(136deg,  #0073a3 50%, #2088b9 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#0073a3), color-stop(50%,#2088b9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(136deg,  #0073a3 50%,#2088b9 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(136deg,  #0073a3 50%,#2088b9 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(136deg,  #0073a3 50%,#2088b9 50%); /* IE10+ */
background: linear-gradient(136deg,  #0073a3 50%,#2088b9 50%); /* W3C */
-pie-background: linear-gradient(134deg,  #2088b9 50%,#0073a3 50%); /* W3C */
}
.license-content .tab-container .content-slider .slide .slider-list.active .arrow-down,
.license-content .tab-container .slider-list.all-products.active .arrow-down {
width:1px;
height:0;
border-left:13px solid transparent;
border-right:13px solid transparent;
border-top:13px solid #2088b9;
position:relative;
margin:0 auto;
display:block;
}
/** tab carousel css end**/

.license-content .tab-container .slider-list-container {
width:672px;
margin:0 auto;
height:146px;
overflow-y:auto;
overflow-x:hidden;
padding:18px 20px;
border:1px solid #D9D9D9;
background:#fff;
border-radius:10px;
}
.license-content .tab-container .previous-bttn, .result-list .start-over-btn, 
.result-list .add-newprod-btn, .preresults-container .add-newprod-btn {
color:#fff;
font-size:14px;
position:absolute;
bottom:10px;
left:10px;
width:101px;
height:34px;
display:block;
text-align:center;
line-height:34px;
border-radius:10px;
text-decoration:none;
background: #3d3e3d;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3d3e3d), to(#1b1b1a));
background: -webkit-linear-gradient(#3d3e3d, #1b1b1a);
background: -moz-linear-gradient(#3d3e3d, #1b1b1a);
background: -ms-linear-gradient(#3d3e3d, #1b1b1a);
background: -o-linear-gradient(#3d3e3d, #1b1b1a);
background: linear-gradient(#3d3e3d, #1b1b1a);
-pie-background: linear-gradient(#3d3e3d, #1b1b1a);
}
.license-content .tab-container .next-bttn, .result-list .add-to-basket{
color:#fff;
font-size:16px;
font-weight:bold;
position:absolute;
bottom:10px;
right:10px;
width:107px;
height:54px;
display:block;
text-align:center;
line-height:54px;
text-decoration:none;
border-radius:10px;
border:1px solid #a7a9aa;
background: #ededed;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ededed), to(#d3d7db));
background: -webkit-linear-gradient(#ededed, #d3d7db);
background: -moz-linear-gradient(#ededed, #d3d7db);
background: -ms-linear-gradient(#ededed, #d3d7db);
background: -o-linear-gradient(#ededed, #d3d7db);
background: linear-gradient(#ededed, #d3d7db);
-pie-background: linear-gradient(#ededed, #d3d7db);
}
.license-content .all-container .next-bttn{
bottom: 2px;
right: 2px;
}
.license-content .tab-container .next-bttn.active, .result-list .add-to-basket.active {
cursor:pointer;
border:1px solid #095581;
background: #177cb7;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#177cb7), to(#0b6194));
background: -webkit-linear-gradient(#177cb7, #0b6194);
background: -moz-linear-gradient(#177cb7, #0b6194);
background: -ms-linear-gradient(#177cb7, #0b6194);
background: -o-linear-gradient(#177cb7, #0b6194);
background: linear-gradient(#177cb7, #0b6194);
-pie-background: linear-gradient(#177cb7, #0b6194);
}
/*** License tab container css end ***/

/**Product Maintenance page css start**/
.tab-container .software-container .product-title {
font-size:18px;
color:#7d7d7c;
margin-bottom:10px;
text-align: center;
}
.tab-container .software-container .product-maintenance {
position:relative;
width:160px;
float:left;
margin-bottom:30px;
/*height:314px;*/

}
.tab-container .software-container .product-maintenance .section {
float:left;
margin-left:5px;
}
.tab-container .software-container .product-maintenance.first .section {
margin-left:0;
}
.tab-container .software-container .product-maintenance.first {
width:140px;
}
.tab-container .software-container .product-maintenance .arrow-down {
border-top:13px solid #88ab4e;
margin-left:55px;
}
.product-maintenance .product-steps {
color:#fff;
border-radius:10px 10px 0 0;
font-weight:bold;
width:137px; height:57px; float:left;
position:relative;
background:#7a9c41;
background: -moz-linear-gradient(160deg,  #7a9c41 50%, #88ab4e 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#7a9c41), color-stop(50%,#88ab4e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(160deg,  #7a9c41 50%,#88ab4e 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(160deg,  #7a9c41 50%,#88ab4e 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(160deg,  #7a9c41 50%,#88ab4e 50%); /* IE10+ */
background: linear-gradient(160deg,  #7a9c41 50%,#88ab4e 50%); /* W3C */
-pie-background: linear-gradient(104deg,  #88ab4e 50%,#7a9c41 50%); /* W3C */
}
.product-maintenance .product-steps.active {
background:#397049;
}
.product-maintenance .steps-arrow
{
margin-left:1px; width:14px;
float:left;
height:57px;
}
.product-maintenance .steps-arrow span {
background: url('../common/maintenance-arrow.png') center no-repeat;
width:17px;
height:57px;
display:table-cell;
}
.product-maintenance .maintenance-option-txt
{
width:137px; height:57px; background:#B8CE6A; color:#333;
border-radius: 0 0 10px 10px;
}
.morechar-container{
min-height: 412px;
}
.product-maintenance .maintenance-option-txt span, .product-maintenance .product-steps span
{
 display:table-cell; vertical-align:middle; height:57px; text-align:center; width:137px; 
}
.product-maintenance .maintenance-option-dialog {
width:330px;position:absolute
}
.product-maintenance .maintenance-option-dialog .maintenance-option-details {
min-height:61px; background: #d6ed89; padding:10px; color:#2A5C39; font-size:11px;
}
ul.product-options {
border:1px solid #ccc; height:auto; list-style-type:none; margin:0; overflow-x:hidden; overflow-y:auto
}
ul.product-options li {
padding:5px;
background:#DBDFE2;
}
ul.product-options li.odd {
background:#fff;
}
ul.product-options li.selected {
background:#0073A3;
color:#fff;
}
ul.product-options li input {
float:left; margin-right:2px;
}
ul.product-options li span {
float:left;
}
.software-container .successmsg {
text-align:center;
height:150px;
}
.software-container .successmsg .mssg1 {
color:#376F47;
font-size:38px;
display:block;
}
.software-container .successmsg .mssg2 {
color:#B1B1B1;
font-size:24px;
}
/**Product Maintenance page css end**/

/*Software Product*/
.software-container h6{
font-size:18px;
color:#676767;
text-align: center;
margin: 10px 0 15px 0;
}
.all-container h6{
margin: 10px 0 26px 0;
}
.software-container .tab-background{
margin: 15px auto 65px;
}
.software-search-bar{
font-weight: bold;
width:882px;
color:#000;
margin:0 auto 30px;
font-size:16px;
}
.software-search-bar span{
background-color: #88ab4e;
color: #fff;
float: left;
font-weight: bold;
height: 24px;
padding: 6px 0 0 15px;
width: 470px;
}
.software-search-bar em{
font-weight: bold;
color:#333;
}
.software-search-bar input[type="text"]{
border:1px solid #ccc;
border-right:none;
color:#ccc;
width:336px;
padding: 4px 0 5px 10px;
vertical-align:middle;
font-style: italic;
float:left;
}
.software-search-bar a{
display:inline-block;
width:50px;
height:29px;
}
.software-results{
width:882px;
border:3px solid #ccc;
height:144px;
margin:0 auto 65px;
overflow-y:scroll;
overflow-x:hidden;
background: url(../common/list-divider.png) repeat-y 430px 0 ;
}
.software-results ul{
width:882px;
min-height:122px;
list-style-type:none;
padding:0;
margin:0;
}
.software-results li{
height:21px;
width:420px;
margin-right:5px;
float:left;
padding:3px 0 0 10px;
list-style-type:none;
}
.software-results li.odd{
background-color:#e7ebee;
}
.software-results li.even{
background-color:#fff;
}
.software-results li.selected{
background-color:#0073a3;
color:#fff;
}
.software-results label{
width:95%;
height:97%;
cursor:pointer;
display:inline-block;
}
.license-content .tab-container .software-container {
border:5px solid #b7ce6b;
padding:5px;
}
/*Software Carousel*/
.software-container .all-products {
   display:none;
}
.license-content .tab-container .all-container .content-slider {
width:750px;
margin:0 0 0 170px;
}
.software-container.all-container .content-slider .slide{
width:680px;
}
.license-content .all-container .slider-list.all-products{
float:left;
width:123px;
height:135px;
margin-left:28px;
display:block;
}
.license-content .all-container .slider-list.all-products a, 
.license-content .tab-container .content-slider .slide .slider-list a{
width:107px;
height:124px;
padding:0 8px;
color:#333;
display:table-cell;
text-align:center;
font-weight:bold;
text-decoration: none;
vertical-align: middle
}
.license-content .all-container .slider-list.all-products.active a, 
.license-content .tab-container .content-slider .slide .slider-list.active a{
color:#fff;
font-weight:bold;
}
.license-content .tab-container .all-container .content-slider .slide-container{
margin:0 95px;
height:135px;
width:580px;
overflow:hidden;
}
.license-content .tab-container .slider-list.all-products .arrow-down {
display:none;
}
/*Software Carousel End*/
/*Software Product End*/
/*Results Page*/
.results-container .repeater{
min-height:360px;
border-top:3px solid #8ca146;
background-color:#e8ecef;
margin-bottom:30px;
clear:both;
}
.preresults-container .repeater{
background-color:#e8ecef;
padding:1px 20px 5px 20px;
margin-bottom:70px;
clear:both;
}
.preview{
font-size:16px;
font-style:italic;
font-weight: bold;
color:#fff;
margin-bottom:-1px;
}
.preview div{
float:left;
}
.preview .lic-prev{
background-color:#2f2f2f;
text-align:center;
font-size:18px;
font-style:normal;
min-width:130px;
height:35px;
padding:15px 16px 0;
margin: 0 0 0 21px;
border-radius: 10px 0 0;
position:relative;
}
.lic-prev.pie_first-child{
    margin-right:-1px;
}
.s-vp{
background-color:#d9a329;
padding-right:16px;
}
.s-vp span, .s-bt span{
display:inline-block;
padding-top:10px;
margin-right:6px;
height:40px;
vertical-align:-9px;
color:#fff;
}
.s-vp .venpgm, .s-bt .bustyp{
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: 0;
}
.s-bt{
background-color:#6e3150;
padding-right:32px;
border-radius:0 10px 0 0;
position:relative;
}
.preview img{
max-height:31px;
padding: 0 12px;
}
.result-list{
border:4px solid #666;
position: relative;
color:#000;
padding-bottom:80px;
}
.prod-tab, .prod-col-head
{
color:#fff;
font-size:14px;
font-weight:bold;
margin:3px 0 0;
} 
.prod-tab{
background-color:#8ca146;
float: left;
margin-left:18px;
padding:9px 25px 7px;
border-radius:12px 12px 0 0;
position:relative;
}
.prod-col-head{
background-color:#666;
float:right;
width:275px;
margin-right:39px;
padding:4px 0;
border-radius:12px 12px 0 0;
position:relative;
}
.preresults-container .prod-col-head{
width:105px;
}
.prod-col-head span{
border-left: 2px solid #333;
display:table-cell;
vertical-align:middle;
height:25px;
text-align:center;
}
.prod-col-head span:first-child, 
.prod-name-price span:first-child{
border-left: none;
}
.result-list .unitprice{
width:95px;
}
.preresults-container .unitprice{
width:105px;
}
.result-list .qty{
width:75px;
}
.result-list .lineprice{
width:102px;
}
.latest-prod-add{
border:3px solid #8ca146;
border-top:none;
}
.result-list .prod-detail, .preresults-container .prod-detail{
background-color:#fff;
padding:5px;
font-size:12px;
}
.preresults-container .prod-detail{
background-color:#fff;
padding:5px 5px 0;
font-size:12px;
}
.preresults-container .added-prod{
border:1px solid #ccc;
margin-top: 5px;
display: table;
width:100%;
}
.result-list .selected-products .prod-detail{
border:1px solid #ccc;
}
.result-list .prod-detail img, .preresults-container .prod-detail img{
width:58px;
height:58px;
float:left;
margin:0 8px 20px 0;
border:1px solid #d1d1d1;
}
.preresults-container .prod-detail img{
width:64px;
height:64px;
margin:0 8px 0 0;

}
.prod-name-price{
color:#333;
}
.prod-name-price .delete-icon{
float:right;
width:32px;
height:32px;
padding:0;
margin:-5px -5px 0 0;
background: url(../sprites/delete-prod-icon.png) no-repeat 6px 4px;
background-color:#666;
cursor:pointer;
}
.prod-name-price div{
background-color:#d1d1d1;
margin:-5px 4px 0 6px;
float:right;
width: 275px;
}
.preresults-container .prod-name-price div{
width: 105px;
margin-right:13px;
}
.select-sku{
float:left;
width:66px;
border:1px solid #fff;
padding-left:2px;
margin: 0 10px 0 0;
line-height:74px;
text-align:center;
background-color:#c8cfd5;
}
.select-sku.selected{
background-color:#0073a2;
}
.dup-sku-warning{
background: url(../common/warning-icon-big.png) #ff3435 no-repeat 43px 28px;
border-radius:10px;
font-size:14px;
color:#4e0000;
margin: 20px 0;
padding: 22px 105px 22px 143px;
font-weight:bold;
}
.dup-sku-warning a, .dup-sku-warning span{
    color:#fff;
}
.product-container .prod-name-price span{
width: 105px;
}

.prod-name-price input{
text-align:center;
font-weight: bold;
border:none;
width:50px;
height:20px;
}
.prod-name-price span{
border-left: 2px solid #c0bcbb;
height:25px;
font-size:14px;
display:table-cell;
text-align:center;
vertical-align:middle;
}
.prod-name-price .lineprice{
font-weight: bold;
}
.lic-sku-vpn{
margin-top:20px;
min-height:25px;
}
.added-prod .lic-sku-vpn{
min-height:22px;
}
.lic-sku-vpn input{
width: 185px;
height: 19px;
border:1px solid #ccc;
color:#999;
margin:0 0 5px 22px;
font-style:italic;
}
.lic-sku-vpn .m0{
margin:0;
}
.vldn-txt-flds{
float:right;
margin:0 5px 0 0;
width: 612px;
}
.vldn-txt-flds input:first-child{
margin:0;
}
.selected-products{
background-color:#e8ecef;
padding:0 3px 3px;
}
.selected-products .prod-name-price div{
margin-right:3px;
}
.latest-prod-add + .selected-products{
padding-top:3px;
}
.total{
font-size:18px;
background-color:#cbcbcb;
text-align:right;
padding:1px 0;
color:#333;
}
.total span{
border-left:1px solid #000;
padding: 0 30px;
line-height:30px;
}
.total span:first-child{
border-left:none;
}
.result-list .start-over-btn, 
.result-list .add-newprod-btn {
width:105px;
height: 34px;
line-height: 34px;
margin-right:5px;
border-radius:10px;
bottom:5px;
text-decoration: none;
}
.result-list .add-newprod-btn, .guided-entry-btn, .preresults-container .add-newprod-btn {
background:#0f6da3;
width:auto;
padding:0 18px;
left:120px;
background: #177cb7;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#177cb7), to(#0b6194));
background: -webkit-linear-gradient(#177cb7, #0b6194);
background: -moz-linear-gradient(#177cb7, #0b6194);
background: -ms-linear-gradient(#177cb7, #0b6194);
background: -o-linear-gradient(#177cb7, #0b6194);
background: linear-gradient(#177cb7, #0b6194);
-pie-background: linear-gradient(#177cb7, #0b6194);
}
.new-prod-btn-container{
font-size:14px;
border-radius:10px;
background:#e7e7e7;
position: absolute;
text-align: center;
width:278px;
height:62px;
left:5px;
bottom:5px;
}
.new-prod-btn-container span{
font-weight:bold;
display: inline-block;
margin:2px 0 0;
}
.new-prod-btn-container a{
color:#fff;
font-size:16px;
min-width:130px;
height:34px;
line-height: 32px;
border-radius:10px;
position: absolute;
bottom:4px;
text-decoration: none;
padding:0;
}
.guided-entry-btn
{
left:4px;
border:1px solid #095581;
}
.expert-entry-btn
{
right:4px;
height:auto;
line-height:normal;
border:1px solid #000;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3d3e3d), to(#1b1b1a));
background: -webkit-linear-gradient(#3d3e3d, #1b1b1a);
background: -moz-linear-gradient(#3d3e3d, #1b1b1a);
background: -ms-linear-gradient(#3d3e3d, #1b1b1a);
background: -o-linear-gradient(#3d3e3d, #1b1b1a);
background: linear-gradient(#3d3e3d, #1b1b1a);
-pie-background: linear-gradient(#3d3e3d, #1b1b1a);
}
.result-list .add-to-basket{
background:#ebebeb;
border-radius:10px;
width:150px;
height:56px;
bottom:7px;
right:7px;
}
.result-list .error-content, .result-list .success-content{
background:#ff3435;
color:#6e0a0a;
font-size:12px;
width:460px;
height:56px;
position:absolute;
right:5px;
bottom:5px;
border-radius:10px;
padding: 6px 155px 0 16px;
}
.result-list .success-content{
background: #fff;
color:#387148;
font-size:15px;
width:460px;
height:56px;
position:absolute;
right:5px;
bottom:5px;
border-radius:10px;
padding: 6px 155px 0 16px;
}
.result-list .error-content{
line-height:13px;
}
.result-list .error-content a{
color: #fff;
padding-left:5px;
text-decoration: underline;
}
.del-popup{
width:165px;
min-height:75px;
padding: 0 0 5px 0;
background:#666;
color:#fff;
font-size:12px;
font-weight:normal;
position:absolute;
display:none;
}
.del-popup b{
padding:7px 0 0 33px;
background:url("../sprites/delete-prod-icon.png") no-repeat 8px 0 #666;
display:block;
}
.del-popup span{
display:block;
color:#ccc;
font-size:11px;
padding:3px 5px 2px 10px;
line-height:10px;
}
.del-popup a{
background:#ff3435;
color:#fff;
padding:6px 0;
width:75px;
height:14px;
margin:5px 0 0 6px;
display:inline-block;
text-align:center;
text-decoration:none;
cursor:pointer;
}
.del-popup .delete{
text-decoration:none;
}
.del-popup a:hover{
background:#deebf1;
color:#000;
}
/*Results Page End*/
/*Loader Styles*/
#main-content .license-content .blockUI.blockOverlay {
background-color: gray !important;
border-radius:10px;
margin:5px !important;
height:98% !important;
width:99% !important;
}
#licenseLoader{
background-color:#fff;
border-radius:10px;
width:330px;
height:175px;
position:absolute;
top:35%;
left:32%;
display:none;
z-index:10;
}
#licenseLoader ul{
margin: 5px;
border:1px solid #e6e6e6;
border-radius:10px;
height:164px;
overflow:hidden;
}
#licenseLoader ul li{
list-style: none;
padding: 0 2px 0 21px;
font-size:16px;
font-style:italic;
font-weight:bold;
color:#000;
opacity:0.2;
}
#licenseLoader ul li:first-child{
text-align:center;
padding:25px 0 22px;
}
/*Leave Popup styles*/
#leaveLicensePopup{
border:1px solid #ccc;
display:none;
position:absolute;
top:0;
left:32%;
z-index:10;
}
#leaveLicensePopup h2{
font-size:110%;
}
#leaveLicensePopup .warning-msg img{
margin:0 11px 10px 0;
}
#leaveLicensePopup .stay-link{
font-size:85%;
line-height: 22px;
margin-left: 18px;
}
#leaveLicensePopup .cancel-btn-top-no-text{
right: 8px;
top: 4px;
}
/*Basket Page Changes*/
div.basket-header{
float:left;
width:217px;
font-size:14px;
color:#333;
padding: 0 0 0 19px;
font-weight:bold;
height:44px;
line-height:44px;
background: url(../common/basket-header-arrow.png) #d9dadc no-repeat 100% 0;
}
.basket-details-top .top-edit-options .opt-first{
line-height: 27px;
padding-left:35px;
width:206px;
}
.basket-details-top .help-tips{
margin-top:7px;
}
.basket-details-top .top-edit-options .opt-second, .basket-details-top .top-edit-options .opt-third{
   border-left: 1px solid #fff;
   padding-left:15px;
}
.basket-details-top .top-edit-options .opt-second{
   width:220px;
}
.basket-details-top .top-edit-options .opt-third{
   width:225px;
}
.basket-license-header{
background: #d9dadc;
color:#333;
font-size:16px;
font-weight:bold;
height:32px;
line-height:31px;
padding: 0 12px 0 16px;
position: relative;
}
.basket-license-header a{
font-size:11px;
font-weight:normal;
} 
.basket-license-header a img{
vertical-align:middle;
margin-left:3px;
}
.licence-options{
float:left;
color:#fff;
height:22px;
margin:0 0 0 14px;
}
.licence-options span{
height:22px;
line-height:22px;
font-size:12px;
display:inline-block;
}
.basket-license-header .s-vp{
padding-left:13px;
border-radius: 3px 0 0 3px;
background: url(../common/license-header-img.png) #D9A329 no-repeat 100% 0;
}
.basket-license-header .s-bt{
padding: 0 15px 0 3px;
background:#894166;
border-radius: 0 3px 3px 0;
}
.basket-license-header .float-right{
line-height:30px;
}
.basket-license-header.list{
background:#ffe8a5;
padding-right:22px;
}
.basket-license-header.list .lic-info{
background:#ffe8a5;
color:#ce3300;
float:left;
font-size:14px;
margin: 0 0 0 4px;
font-weight:normal;
}
.basket-license-header.list .float-right{
margin: 7px 0 0;
}
.changes{
background-color:#d9dadc;
padding:22px 55px 0 0;
}
.changes p{
font-weight: normal;
}
.basket-total-container{
background-color:#d9dadc;
border-top: 1px dotted #666;
padding-right:45px;
}
.basket-details .checkout-btns-bottom{
padding:0 0 10px 10px;
}
.basket-total-container .total-table, .checkout-bottom .total-table{
font-size:24px;
margin-top:18px;
color:#323232;
}
.total-table-container .total-table .extra-info{
font-weight: normal;
font-size: 10px;
text-align: right;
}
.total-table-container .total-table .value{
color: #404048;
}
.software-license{
margin: 1px 0 0 0;
}
.unvalidated-licenses{
border:none;
}
.software-license-table th.desc{
text-align:left;
width:206px;
padding:5px 0 5px 50px;
}
.software-license-table td.desc{
text-align:left;
padding:0 5px 10px 10px;
}
.software-license-table th.delete{
border-left:1px solid #fff;
padding:5px 10px;
}
.software-license-table th.del-blank{
width:61px;
color:#E3E1DC;
font-size:1px;
}
.basket-items th.delete {
border-left:1px solid #fff;
text-align: center;
}
.software-license-table .last-row .delete{
padding-right:0;
}
.software-license-table .failed{
max-width: 100px;
width: auto;
}
.software-license-table .line-price{
text-align:right;
padding-right:10px;
font-weight:bold;
font-size:85%;
}
.sub-total{
text-align:right;
font-size:12px;
padding: 0 46px 0 0;
background:#f1eeec;
color:#333;
}
.sub-total span{
border-left:1px solid #000;
padding: 2px 15px;
height:19px;
display:inline-block;
line-height:19px;
}
span.qualifying-point-text{
 border:none;
}
.config-details{
float:left;
width:398px;
border-right:2px solid #fff;
}
.config-details b{
float:left;
padding: 13px 0 7px 17px;
}
.config-details span{
float:left;
padding: 13px 0 7px 1px;
}
.config-msg div{
float:left;
}
.license-info-top .config-button{
float:right;
padding: 10px 7px 9px 17px;
}
.error-msg-container{
background: url('../common/error-arrow.png') no-repeat  32px 0px;
padding-top:6px;
}
.config-error-msg{
font-size: 11px;
color: #666;
background:#ffeded;
width: 356px;
border: 1px solid #fe0000;
line-height: normal;
font-weight: normal;
padding:8px 20px 8px 17px;
margin-top:-1px;
}
.end-user-detail{
float:left;
width:430px;
border-right:2px solid #fff;
padding: 0 10px 0 20px;
line-height:38px;
}
.license-info-top .invalid{
color:#ff0000;
}
.lic-notes{
float:left;
line-height:38px;
padding: 0 0 0 13px;
}
.end-user-detail b{
float:left;
padding: 0 3px 0 0;
}
.edit-lic-pop{
}
.edit-lic-pop-container{
border:1px solid #e3e1dc;
color:#333;
padding:32px 0 0;
height:61px;
margin:5px;
text-align:center;
}
.edit-lic-pop-container b{
 color:#015494;
}
.edit-lic-pop-container .cancel-btn-top{
top:5px;
right:10px;
}
.software-license-table .blockMsg {
border: none !important;
width:400px !important;
cursor:default !important;
font-size:13px;
}
#main-content .software-license-table .blockUI.blockOverlay {
    background-color: #808080 !important;
    opacity: 0.6 !important;
}

/*Checkout Page*/
 .subtotal-table, .checkout-bottom .total-table,.checkout-bottom .divider, .checkout-bottom .confirm {
background-color:#d9dadc;
}
.ausOption .confirm{
width:923px;
margin:0;
padding: 10px 50px 40px 0;
}
.subtotal-table{
margin:0;
border-top: 1px dotted #666666;
}
.total-table tr.primary-currency td {
background-color: #d9dadc;
color: #323232;
font-size: 100%;
}
.total-table td.total-amount {
padding-right: 55px;
}
.checkout-bottom .total-table{
width:100%;
margin: 0;
}
.subtotal-table tr.padded-row-top td {
padding: 7px 55px 1px 0;
}
.total-table td.total-label {
font-weight:normal;
}
.big-total, .basket-subtotal-note {
 padding-right:55px;
 background: #d9dadc;
}
.basket-total-container .basket-subtotal-note {
 padding-right:0;
}
.big-total{
 border-bottom: 1px dotted #666666;
 font-weight:normal;
}
.big-total span{
 font-weight:bold;
}
.subtotal-table tr.padded-row-bottom td {
padding-right:54px;
}
.auth-bid-crln{
width:888px;
}
.auth-bid-crln div{
float:left;
font-size:11px;
min-width:138px;
margin: 0 8px 0 0;
}
.auth-bid-crln input, .auth-bid-crln span{
width:100%;
height:16px;
font-size:11px;
border:1px solid #ccc;
padding:0 0 0 2px;
color:#333;
}
.auth-bid-crln span{
display:block;
line-height:16px;
background:#efefef;
border-top:none;
font-size:10px;
color:#666;
}
.software-license-table .prod-details p.sku-num {
font-size:11px !important;
}
.software-license-table .prod-details p.sku-num b{
padding: 0 5px 0 0;
}