html{
background: none;
}

body{
overflow : visible !important;
float: none !important;
}

.main-block{
overflow : visible !important;
float: none !important;
}

.boutique-block{
overflow : visible !important;
float: none !important;
}

#header, #footer, .dashboard, .banner-ads, .filler, .left-col-nav, 
.account-navigation-container, .recent-history-vertical, .main-bottom .left-col, 
.orders-search-results .filter-top, .left-col, .more-information, .bottom-links{
display: none;
}

.right-col{
width: 100%;
margin-left: 5px;
}


.full-layout .right-col{width: 100%;}


.main-bottom .main-bottom-container {
width:97.6%;
padding-left: 12px;
}

.main-bottom .bottom-content{
margin-left: 15px;
width: 100%;
}

.total-table-shippable-value{width:91%;}
.product-comp-top-container 
{
    display:none;
}
.links, #quick_links
{
    display:none;
}
.breadcrumb
{
    display:none;
}

.see-all, .invoice_return_item_btn, .more-arrow-expand-below
{
    display:none;
}

.pricing{
display: block;
}

.pricing-info{
display: block;
}

.in-stock{
display: block;
}

.your-price{
display: block;
}
.in-stock-container 
{
    display:block;
}

a .back-to-top-link, .linkTransactionDetails
{
    display:none !important;
}

.invoice-date-table, .invoice-details .invoice-detail-container .header,
.invoice-details .invoice-detail-container p,
.invoice-details .invoice-detail-container div,
.invoice-details .invoice-details-table td p, 
.total-table-shippable-value,
.invoice-details .invoice-disclaimer,.currency-notice .msg,
.blue-header h2{
font-size:18px;
}
.sku-num, .vpn-num, .ean-num, .lang-code{
font-size:15px !important;
color:#000 !important;
}
.main-bottom .bottom-content{
margin-right:10px;
}
.main-bottom .main-bottom-container{
margin:0px;
}
.full-layout .right-col .right-col-content{
height:175px;
}
.ingram-logo{
width:115px; height:70px;
}
.invoice-details .invoice-details-table th,
.invoice-details .invoice-details-table td,
.legal{
font-size:18px;
}

.invoice-details .invoice-detail-container li{
font-size:15px
}
.blue-header h2{
font-weight:bold;
}

.invoice-date-table th, .invoice-date-table td{
width:200px; padding-right:20px;
}
